* {
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
  border: none;
  margin: 0;
  padding: 0;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 {
  font-weight: bold;
}

.navbar-toggle {
  float: right;
}

.navbar-toggle:hover {
  box-shadow: 1px 1px 1px black;
}

#brandname {
  color: black;
  font-weight: bold;
  padding-left: 20px;
}

div > p {
  padding: 5px;
  height: auto;
  font-size: 1.3em;
}

a:hover {
  text-decoration: none;
}

.navbar-brand {
  height: auto;
  padding: 0px;
}

.navbar-header a:hover {
  text-decoration: none;
}

#nav-list a {
  clear: both;
  border: 1px solid black;
  float: right;
  position: relative;
  margin: 15px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  Background-color: wheat;
  color: black;
  font-size: 1em;
}


.invisibile {
  visibility: hidden;
}

#main-content .section-item {
  margin: 15px;
  height: auto;
  background-color: wheat;
  border: 1px solid black;
}

#chicken, #beef, #sushi {
  background-color: #fff0d1;
  border: 2px solid gray;
}

#chicken h3, #beef h3, #sushi h3 {
  padding: 10px;
  color: #ebb134;
  text-shadow: 1px 1px 1px black;
}

@media (max-width: 469px) {

  /*navbar header*/

  h1 {
    /* Logo name */
    padding: 10px;
    font-size: 5vw;
    /* 1vw = 1% of viewport width */
  }

  .visible {
    visibility: visible;
  }

  #chicken, #beef, #sushi {
    padding: 15px;
  }

  h3 {
    font-size: 1.6em;
  }

  div>p {
    font-size: 1.2em;
  }
  #nav-list a:hover {
      color: black;
      background-color: antiquewhite;
  }
.navbar-toggle{
  margin-top: 20px;
}


}
@media (min-width: 470px) and (max-width: 767px) {
  h1{
    font-size: 1.5em;
  }
  .visible{
    visibility: visible;
}
#page-title{
  font-size: 1.8em;
}
.navbar-toggle{
  margin-top: 15px;
}
#nav-list a:hover {
    color: black;
    background-color: antiquewhite;
}
div>p{
  font-size: 1em;
}
#chicken,#beef,#sushi{
  padding: 10px;
  font-size: 1.2em;
}
}
  @media (min-width: 768px) and (max-width: 991px) {
    #maincontent, .container {
      padding: 10px;
    }

    #section-item p {
      font-size: 0.8em;
      }
      #nav-list a:hover {
          color: darkgoldenrod;
          background-color: antiquewhite;
      }
      h1{
        font-size: 1.4em;
      }
      #page-title{
        font-size: 1.7em;
      }
      #chicken,#beef,#sushi{
        padding: 10px;
      }
}
